html,
body {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

body * {
  font-family: "Rajdhani", sans-serif;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 1;

  transition: opacity 300ms ease;
}

section.active {
  visibility: visible !important;
  opacity: 1 !important;
  z-index: 2;
}

section.inactive {
  top: 110%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.menu > div {
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease;

  position: absolute;
  top: 0;
  left: -100%;

  width: 100%;
  height: 100%;
}

section.menu > div.active {
  left: 0;
  visibility: visible;
  opacity: 1;
}

section.menu > div.main {
  display: grid;
  grid-template-areas:
    "l t t r"
    "l title title r"
    "l error error r"
    "l name name r"
    "l password password r"
    "l connect create r"
    "l b b r";

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 4rem 3rem 6rem 6rem 3rem 1fr;
}

section.menu > div.lobby {
  display: grid;
  grid-template-areas:
    "title title"
    "error error"
    "peers tmp"
    "peers tmp"
    "start start";
}
section.menu > div.main > h1 {
  grid-area: title;
}
section.menu > div.main > span.error {
  grid-area: error;
}
section.menu > div.main > div {
  grid-area: name;
}
section.menu > div.main > div + div {
  grid-area: password;
}
section.menu > div.main > div.connect {
  grid-area: connect;
  display: flex;
}
section.menu > div.main > div.create {
  grid-area: create;
  display: flex;
  justify-content: flex-end;
}

section.menu > div.lobby > h1 {
  grid-area: title;
}
section.menu > div.lobby > span.error {
  grid-area: error;
}
section.menu > div.lobby > ul {
  grid-area: peers;
}
section.menu > div.lobby > div.start {
  grid-area: start;
}

input,
button {
  padding: 0.5rem 1rem;
}

button {
  border: none;
  width: 80%;
  cursor: pointer;

  transition: background-color 200ms ease;
}

button:hover {
  background-color: rgb(228, 228, 228);
}
button:active {
  background-color: rgb(136, 136, 136);
  color: white;
  outline: none;
}
/* button:focus {
  outline: none;
} */

span.error {
  color: red;
}

h1 {
  font-weight: 500;
  font-size: 2rem;
}

.field > label,
.field > input {
  width: 100%;
  display: block;
  box-sizing: border-box;
}
