<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>%UNITY_WEB_NAME%</title>

    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css" />

    <script src="/client.js"></script>
    <script src="/progress.js"></script>

    <script>
      window.UNITY.buildpath = "/%UNITY_WEBGL_LOADER_URL%";
    </script>
  </head>
  
  <body>
    <section class="menu active">
      <div class="main active">
        <h1 class="center">UnityRTC Template</h1>
        <span id="mainerror" class="error"></span>

        <div class="field">
          <label for="room">Room</label>
          <input id="room" name="room" type="text" placeholder="Example Name" />
        </div>
        <div class="field">
          <label for="password">Password</label>
          <input id="password" name="password" type="password" placeholder="Optional Password" />
        </div>
        <div class="connect"><button onClick={window.UI.Connect()}>Connect</button></div>
        <div class="create"><button onClick={window.UI.Create()}>Create</button></div>
      </div>
      <div class="lobby">
        <h1 class="center">Lobby <span id="roomName">ROOM</span></h1>
        <span id="lobbyerror" class="error"></span>

        <ul id="peers">
          <li class="you">YOU</li>
        </ul>
        <div class="create"><button id="start" onClick={window.RTC.start()} disabled>Start Game</button></div>
      </div>
    </section>
    <section class="loading center">
      <h1>loading..</h1>
      <span><span id="peersready">0</span>/<span id="totalpeers">0</span> peers ready</span>
    </section>
    <section class="game center">
      <div id="unityContainer" style="width: %UNITY_WIDTH%px; height: %UNITY_HEIGHT%px; margin: auto"></div>
    </section>
  </body>
  
</html>